{% extends '@SonataAdmin/standard_layout.html.twig' %}

{% block sonata_nav %}
{% endblock sonata_nav %}

{% block logo %}
{% endblock logo %}

{% block sonata_left_side %}
{% endblock sonata_left_side %}

{% block body_attributes %}class="sonata-bc login-page"{% endblock %}
{% trans_default_domain 'FOSUserBundle' %}


{% block sonata_wrapper %}
    <div class="login-box">
        <div class="login-box-body">
             <p>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>
             <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans }}</a>
        </div>
    </div>
{% endblock sonata_wrapper %}
