{% extends '@SonataAdmin/standard_layout.html.twig' %}

{% block sonata_nav %}
{% endblock sonata_nav %}

{% block logo %}
{% endblock logo %}

{% block sonata_left_side %}
{% endblock sonata_left_side %}

{% block body_attributes %}class="sonata-bc login-page"{% endblock %}
{% trans_default_domain 'FOSUserBundle' %}

{% block sonata_wrapper %}
    <div class="login-box">

        {% block login_box_header %}
            <div class="login-logo">
                <a href="{{ path('sonata_admin_dashboard') }}">
                    {% if sonata_admin.adminPool.getOption('title_mode') in ['single_image', 'both'] %}
                        <div>
                            <img style="width:64px;" src="{{ asset(sonata_admin.adminPool.titlelogo) }}" alt="{{ sonata_admin.adminPool.title }}">
                        </div>
                    {% endif %}
                    <span>{{ 'layout.register'|trans }}</span>
                </a>
            </div>
        {% endblock %}

        <div class="login-box-body">
            {% block sonata_user_login_form %}
                {% for label, flashes in app.session.flashbag.all %}
                    {% for flash in flashes %}
                        <div class="alert alert-{{ label }}">
                            {{ flash }}
                        </div>
                    {% endfor %}
                {% endfor %}
                {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
                {{ form_row(form._token) }}
                <div class="form-group has-feedback">
                    {{ form_label(form.username) }}
                    <input type="text" class="form-control" id="username" name="{{ form.username.vars.full_name }}" required="required"/>
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                    {% if not form.username.vars.errors is empty %}
                        <span class="label label-danger">
                            {% for errorItem in form.username.vars.errors %}
                                {{ errorItem.message }}
                            {% endfor %}
                        </span>
                    {% endif %}
                </div>
                <div class="form-group has-feedback">
                    {{ form_label(form.email) }}
                    <input type="text" class="form-control" id="username" name="{{ form.email.vars.full_name }}" required="required"/>
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                    {% if not form.email.vars.errors is empty %}
                        <span class="label label-danger">
                            {% for errorItem in form.email.vars.errors %}
                                {{ errorItem.message }}
                            {% endfor %}
                        </span>
                    {% endif %}
                </div>
                <div class="form-group has-feedback">
                    {{ form_label(form.plainPassword.first) }}
                    <input type="password" class="form-control" id="username" name="{{ form.plainPassword.first.vars.full_name }}" required="required"/>
                    <span class="glyphicon glyphicon-eye-close form-control-feedback"></span>
                    {% if not form.plainPassword.first.vars.errors is empty %}
                        <span class="label label-danger">
                            {% for errorItem in form.plainPassword.first.vars.errors %}
                                {{ errorItem.message }}
                            {% endfor %}
                        </span>
                    {% endif %}
                </div>
                <div class="form-group has-feedback">
                    {{ form_label(form.plainPassword.second) }}
                    <input type="password" class="form-control" id="username" name="{{ form.plainPassword.second.vars.full_name }}" required="required"/>
                    <span class="glyphicon glyphicon-eye-close form-control-feedback"></span>
                    {% if not form.plainPassword.second.vars.errors is empty %}
                        <span class="label label-danger">
                            {% for errorItem in form.plainPassword.second.vars.errors %}
                                {{ errorItem.message }}
                            {% endfor %}
                        </span>
                    {% endif %}
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <input type="submit" class="btn btn-primary btn-block btn-flat"  value="{{ 'registration.submit'|trans }}"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-9"></div>
                    <div class="col-xs-3">
                        <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans }}</a>
                    </div>
                </div>
            {% endblock %}
        </div>
    </div>
{% endblock sonata_wrapper %}
