{% extends 'SonataAdminBundle:CRUD:base_edit.html.twig' %}


{% block form %}
	{% import "@SonataAdmin/CRUD/base_edit_form_macro.html.twig" as form_helper %}
	{{ sonata_block_render_event('sonata.admin.edit.form.top', { 'admin': admin, 'object': object }) }}



	{% block sonata_tab_content %}
		{{ form_start(form) }}

		 {% set groups = admin.formtabs['default'].groups %}
		{{ form_row(form._token) }}
		 <div class="row">
		 {% for code in groups if admin.formgroups[code] is defined %}
			 {% set form_group = admin.formgroups[code] %}
			 <div class="{{ form_group.class|default('col-md-12') }}">
				 <div class="{{ form_group.box_class }}">
					 <div class="box-header">
						 <h4 class="box-title">
							 {{ form_group.label|trans({}, form_group.translation_domain ?: admin.translationDomain) }}
						 </h4>
					 </div>
					 <div class="box-body">
						 <div class="sonata-ba-collapsed-fields">
							 {% if form_group.description %}
								 <p>{{ form_group.description|trans({}, form_group.translation_domain ?: admin.translationDomain) }}</p>
							 {% endif %}

							 <div class="row">
								 <div class=" col-md-4">
									 <div class="form-group has-feedback">
										 {{ form_label(form.social_account) }}
										 {{ form_widget(form.social_account, {'attr': {'class': 'form-control'}}) }}
										 {% if not form.social_account.vars.errors is empty %}
											 <span class="label label-danger">
												{% for errorItem in form.social_account.vars.errors %}
													{{ errorItem.message }}
												{% endfor %}
											</span>
										 {% endif %}
									 </div>
								 </div>
							 </div>
							 <div class="row">
								 <div class=" col-md-6">
									 <div class="form-group has-feedback">
										 {{ form_label(form.content_warning) }}
										 {{ form_widget(form.content_warning, {'attr': {'class': 'form-control', 'data-emojiable':'true'}}) }}
										 {% if not form.content_warning.vars.errors is empty %}
											 <span class="label label-danger">
												{% for errorItem in form.content_warning.vars.errors %}
													{{ errorItem.message }}
												{% endfor %}
											</span>
										 {% endif %}
									 </div>
								 </div>
							 </div>

							 <div class="row">
								 <div class=" col-md-6">
									 <div class="form-group has-feedback">
										 {{ form_label(form.content) }}
										 {{ form_widget(form.content, {'attr': {'class': 'form-control', 'data-emojiable':'true'}}) }}
										 {% if not form.content.vars.errors is empty %}
											 <span class="label label-danger">
												{% for errorItem in form.content.vars.errors %}
													{{ errorItem.message }}
												{% endfor %}
											</span>
										 {% endif %}
									 </div>
								 </div>
							 </div>

							 <div class="row">
								 <div class=" col-md-3">
									 <div class="form-group has-feedback">
										 {{ form_label(form.visibility) }}
										 {{ form_widget(form.visibility, {'attr': {'class': 'form-control'}}) }}
										 {% if not form.visibility.vars.errors is empty %}
											 <span class="label label-danger">
												{% for errorItem in form.visibility.vars.errors %}
													{{ errorItem.message }}
												{% endfor %}
											</span>
										 {% endif %}
									 </div>
								 </div>
							 </div>


							 {{ form_label(form.attachments) }}
							 <ul class="attachments"
								 data-prototype="
								 {% filter escape %}
									 {{ include('Mastodon/Message/prototype/media_prototype.html.twig', { 'form': form.attachments.vars.prototype }) }}
								 {% endfilter %}"
							 		style="list-style:none;">
								 {# iterate over each existing tag and render its only field: name #}
								 {% for attachment in form.attachments %}
									 <li>
										 <div class="row">
											 <div class=" col-md-6">
												 <div class="form-group has-feedback">
													 {{ form_row(attachment.description) }}
												 </div>
											 </div>
										 </div>
										 <div class="row">
											 <div class="col-md-6">
												 <img src="{% path object.attachments[loop.index-1], 'reference' %}" class="media_preview col-md-12"/>
											 </div>
										 </div>
									 </li>
								 {% endfor %}
							 </ul>

							 <div class="row">
								 <div class=" col-md-1">
									 <div class="form-group has-feedback">
										 {{ form_label(form.scheduled) }}
										 {{ form_widget(form.scheduled, {'attr': {'class': 'form-control'}}) }}
										 {% if not form.scheduled.vars.errors is empty %}
											 <span class="label label-danger">
												{% for errorItem in form.scheduled.vars.errors %}
													{{ errorItem.message }}
												{% endfor %}
											</span>
										 {% endif %}
									 </div>
								 </div>
								 <div class=" col-md-4">
									 <div class="form-group has-feedback">
										 {{ form_label(form.scheduled_at) }}
										 {{ form_widget(form.scheduled_at, {'attr': {'class': 'form-control'}}) }}
										 {% if not form.scheduled_at.vars.errors is empty %}
											 <span class="label label-danger">
												{% for errorItem in form.scheduled_at.vars.errors %}
													{{ errorItem.message }}
												{% endfor %}
											</span>
										 {% endif %}
									 </div>
								 </div>
								 <div class=" col-md-7"></div>
							 </div>
						 </div>
					 </div>
				 </div>
			 </div>
		 {% endfor %}
		 </div>
		<span id="data_api" data-full="{{ form.social_account.vars.choices[1].data }}" data-instance="{{ form.social_account.vars.choices[1].data.instance }}"></span>
		{% block formactions %}
			{{ parent() }}
		{% endblock %}

	 {% endblock %}


{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/emojionearea.css') }}">
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('custom/add.js') }}"></script>
	<script src="{{ asset('js/emojionearea.js') }}"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$("#{{ form.content.vars.id  }}").emojioneArea({
				pickerPosition: "bottom",
				filtersPosition: "bottom",
				searchPosition: "bottom",
				attributes: {
					spellcheck : true,
					autocomplete   : "on",
				},
				search: false
			});
			$("#{{ form.content_warning.vars.id  }}").emojioneArea({
				pickerPosition: "bottom",
				filtersPosition: "bottom",
				searchPosition: "bottom",
				search: false
			});
		});
	</script>
{% endblock %}




