<li>
	<div class="main_media_upload">
		<div class="row">
			<div class=" col-md-3 ">
				<div class="form-group has-feedback">
					{{ form_row(form.binaryContent, {'attr':{'class':'img_preview'}}) }}
				</div>
			</div>
			<div class=" col-md-3">
				<div class="form-group has-feedback">
					{{ form_row(form.description) }}
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<img src="#" class="media_preview hidden col-md-12"/>
			</div>
		</div>
	</div>
</li>