{# in src/MyCompany/MyBundle/Resources/views/Vehicle/createVehicle.html.twig #}
{% extends '@SonataAdmin/standard_layout.html.twig' %}
{% trans_default_domain 'CraueFormFlowBundle' %}
{% block sonata_admin_content %}




	{{ form_start(form) }}
	{{ form_row(form._token) }}

	{{ form_errors(form) }}
	{% if flow.getCurrentStepNumber() == 1 %}
	<div class="row">
		<div class=" col-md-4">
			<div class="form-group has-feedback">
				{{ form_label(form.host) }}
				{{ form_widget(form.host, {'attr': {'class': 'form-control'}}) }}
				<span class="fa fa-globe form-control-feedback"></span>
				{% if not form.host.vars.errors is empty %}
					<span class="label label-danger">
						{% for errorItem in form.host.vars.errors %}
							{{ errorItem.message }}
						{% endfor %}
					</span>
				{% endif %}
			</div>
		</div>
	</div>
	{% elseif flow.getCurrentStepNumber() == 2 %}
		<div class="row">
			<div class="col-md-6">
				<div class="alert alert-warning">
					Please, click on "Get an authorization code" to get you authorization code. Then copy/paste in the field.
				</div>
				<a href="{{ urlToMastodon }}" target="_blank" class="btn btn-default">Get an authorization code</a>
			</div>
		</div>
		<div class="row">
			<div class=" col-md-4">
				<div class="form-group has-feedback">
					{{ form_label(form.code) }}
					{{ form_widget(form.code, {'attr': {'class': 'form-control'}}) }}
					<span class="fa fa-key form-control-feedback"></span>
					{% if not form.code.vars.errors is empty %}
						<span class="label label-danger">
						{% for errorItem in form.code.vars.errors %}
							{{ errorItem.message }}
						{% endfor %}
					</span>
					{% endif %}
				</div>
			</div>
		</div>
		{{ form_widget(form.client_id, {'value' : client_id}) }}
		{{ form_widget(form.client_secret, {'value' : client_secret}) }}
	{% endif %}
	{{ form_widget(form) }}
	<div class="row">
		<div class="col-xs-2">
		<input type="submit" class="btn btn-primary btn-block btn-flat"  value="{{ 'button.next'|trans }}"/>
		</div>
	</div>
	{{ form_end(form) }}
{% endblock %}