{# in src/MyCompany/MyBundle/Resources/views/Vehicle/createVehicle.html.twig #}
{% extends '@SonataAdmin/standard_layout.html.twig' %}

{% trans_default_domain 'CraueFormFlowBundle' %}

{% block title %}
	{# NEXT_MAJOR: remove default filter #}
	{% if objectId|default(admin.id(object)) is not null %}
		{{ "title_edit"|trans({'%name%': admin.toString(object)|truncate(15) }, 'SonataAdminBundle') }}
	{% else %}
		{{ "title_create"|trans({}, 'SonataAdminBundle') }}
	{% endif %}
{% endblock %}

{% block navbar_title %}
	{{ block('title') }}
{% endblock %}

{%- block actions -%}
	{% include '@SonataAdmin/CRUD/action_buttons.html.twig' %}
{%- endblock -%}

{% block sonata_admin_content %}

	{% import "@SonataAdmin/CRUD/base_edit_form_macro.html.twig" as form_helper %}
	{{ sonata_block_render_event('sonata.admin.edit.form.top', { 'admin': admin, 'object': object }) }}


	{{ form_start(form) | trans | raw }}
	{{ form_row(form._token) }}

	{% if not form.vars.valid %}
		<div class="row">
			<div class="col-md-6">
				<div class="alert alert-error">
					{{ form_errors(form) }}
				</div>
			</div>
		</div>
	{%endif%}
		<div class="row">
			<div class=" col-md-6">
				<img src="{{ object.avatar }}" width="100" id="profile_picture">
			</div>
		</div>
		<div class="row">
			<div class=" col-md-6">
				<div class="form-group has-feedback">
					{{ form_label(form.avatar) }}
					{{ form_widget(form.avatar, {'attr': {'class': 'form-control'}}) }}
					{% if not form.avatar.vars.errors is empty %}
						<span class="label label-danger">
							{% for errorItem in form.avatar.vars.errors %}
								{{ errorItem.message }}
							{% endfor %}
						</span>
					{% endif %}
				</div>
			</div>

		</div>
		<div class="row">
			<div class=" col-md-6 ">

				<div class="card_img" >
					{% if not object.header is empty %}
					<img src="{{ object.header }}" id="profile_picture" style="object-fit: none; height: 130px;width: 100%;">
					{% endif %}
				</div>
			</div>
		</div>
		<div class="row">
			<div class=" col-md-6">
				<div class="form-group has-feedback">
					{{ form_label(form.header) }}
					{{ form_widget(form.header, {'attr': {'class': 'form-control'}}) }}
					{% if not form.header.vars.errors is empty %}
						<span class="label label-danger">
								{% for errorItem in form.header.vars.errors %}
									{{ errorItem.message }}
								{% endfor %}
							</span>
					{% endif %}
				</div>
			</div>

		</div>
		<div class="row">
			<div class=" col-md-6">
				<div class="form-group has-feedback">
					{{ form_label(form.display_name) }}
					{{ form_widget(form.display_name, {'attr': {'class': 'form-control'}}) }}
					{% if not form.display_name.vars.errors is empty %}
						<span class="label label-danger">
						{% for errorItem in form.display_name.vars.errors %}
							{{ errorItem.message }}
						{% endfor %}
					</span>
					{% endif %}
				</div>
			</div>
		</div>
		<div class="row">
			<div class=" col-md-6">
				<div class="form-group has-feedback">
					{{ form_label(form.note) }}
					{{ form_widget(form.note, {'attr': {'class': 'form-control'}}) }}
					{% if not form.note.vars.errors is empty %}
						<span class="label label-danger">
						{% for errorItem in form.note.vars.errors %}
							{{ errorItem.message }}
						{% endfor %}
					</span>
					{% endif %}
				</div>
			</div>
		</div>

		{% for i in 0..3 %}
			{% if not  form.Fields[i] is defined%}

			{% else %}
			<div class="row">
				<div class=" col-md-2">
					<div class="form-group has-feedback">
						{{ form_label(form.Fields[i].name) }}
						{{ form_widget(form.Fields[i].name, {'attr': {'class': 'form-control'}}) }}
						{% if not form.Fields[i].name.vars.errors is empty %}
							<span class="label label-danger">
						{% for errorItem in form.Fields[i].name.vars.errors %}
							{{ errorItem.message }}
						{% endfor %}
					</span>
						{% endif %}
					</div>
				</div>
				<div class=" col-md-4">
					<div class="form-group has-feedback">
						{{ form_label(form.Fields[i].value) }}
						{{ form_widget(form.Fields[i].value, {'attr': {'class': 'form-control'}}) }}
						{% if not form.Fields[i].value.vars.errors is empty %}
							<span class="label label-danger">
						{% for errorItem in form.Fields[i].value.vars.errors %}
							{{ errorItem.message }}
						{% endfor %}
					</span>
						{% endif %}
					</div>
				</div>
			</div>
			{% endif %}

		{% endfor %}


		<div class="row">
			<div class=" col-md-6">
				<div class="form-group has-feedback">
					{{ form_label(form.locked) }}
					{{ form_widget(form.locked, {'attr': {'class': 'form-control'}}) }}
					{% if not form.locked.vars.errors is empty %}
						<span class="label label-danger">
						{% for errorItem in form.locked.vars.errors %}
							{{ errorItem.message }}
						{% endfor %}
					</span>
					{% endif %}
				</div>
			</div>
		</div>
	{% if objectId|default(admin.id(object)) is not null %}
		<button type="submit" class="btn btn-success" name="btn_update_and_edit"><i class="fa fa-save" aria-hidden="true"></i> {{ 'btn_update_and_edit_again'|trans({}, 'SonataAdminBundle') }}</button>

		{% if admin.hasRoute('list') and admin.hasAccess('list') %}
			<button type="submit" class="btn btn-success" name="btn_update_and_list"><i class="fa fa-save"></i> <i class="fa fa-list" aria-hidden="true"></i> {{ 'btn_update_and_return_to_list'|trans({}, 'SonataAdminBundle') }}</button>
		{% endif %}

		{% if admin.hasRoute('delete') and admin.hasAccess('delete', object) %}
			{{ 'delete_or'|trans({}, 'SonataAdminBundle') }}
			<a class="btn btn-danger" href="{{ admin.generateObjectUrl('delete', object) }}"><i class="fa fa-minus-circle" aria-hidden="true"></i> {{ 'link_delete'|trans({}, 'SonataAdminBundle') }}</a>
		{% endif %}

		{% if admin.isAclEnabled() and admin.hasRoute('acl') and admin.hasAccess('acl', object) %}
			<a class="btn btn-info" href="{{ admin.generateObjectUrl('acl', object) }}"><i class="fa fa-users" aria-hidden="true"></i> {{ 'link_edit_acl'|trans({}, 'SonataAdminBundle') }}</a>
		{% endif %}
	{% else %}
		{% if admin.hasroute('edit') and admin.hasAccess('edit') %}
			<button class="btn btn-success" type="submit" name="btn_create_and_edit"><i class="fa fa-save" aria-hidden="true"></i> {{ 'btn_create_and_edit_again'|trans({}, 'SonataAdminBundle') }}</button>
		{% endif %}
		{% if admin.hasroute('list') and admin.hasAccess('list') %}
			<button type="submit" class="btn btn-success" name="btn_create_and_list"><i class="fa fa-save"></i> <i class="fa fa-list" aria-hidden="true"></i> {{ 'btn_create_and_return_to_list'|trans({}, 'SonataAdminBundle') }}</button>
		{% endif %}
		<button class="btn btn-success" type="submit" name="btn_create_and_create"><i class="fa fa-plus-circle" aria-hidden="true"></i> {{ 'btn_create_and_create_a_new_one'|trans({}, 'SonataAdminBundle') }}</button>
	{% endif %}
	{{ form_end(form) }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('custom/profile.js') }}"></script>
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('custom/style.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}