{% extends '@SonataAdmin/standard_layout.html.twig' %}
{% trans_default_domain 'fedandco' %}
{% block sonata_admin_content %}




    <div class="row container" style="margin-bottom: 20px;">
        <div class="col-lg-offset-10 col-md-2">
            Type of notifications:
            <select id="select_notification_type">
                <option value="all">All</option>
                <option value="mention">Mention</option>
                <option value="boost">Boost</option>
                <option value="favourite">Favourite</option>
                <option value="follow">Follow</option>
            </select>
        </div>
    </div>
    <div class="row container">
        <div class="col-md-12" id="content"></div>
    </div>
    <div class="row container hide" id="loader" style="text-align: center;margin-top: 50px;"><div class="lds-ring"><div></div><div></div><div></div><div></div></div></div>
    <div class="row hide" id="no_content">
        <div class="col-md-offset-3 col-md-6">
            <div class="alert alert-warning"  style="font-size: 1.5em;text-align: center;">No results found!</div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            window.max_id = "";
            window.type = "all";
            $(window).scroll(function() {
                if($(window).scrollTop() == $(document).height() - $(window).height() && max_id != null) {
                    loadMore();
                }
            });
            loadMore(null);

            function loadMore(){
                if(max_id == null || max_id === ""){
                    $('#loader').removeClass("hide");
                }
                $("#no_content").addClass("hide");
                $.post( Routing.generate('admin_notification_load_more',{'id' : {{ app.request.attributes.get('id')}}}), { 'max_id': window.max_id, 'type':window.type }  )
                    .done(function(data) {
                        $("#content").append(data.html);
                        $('#loader').addClass("hide");
                        if( data.html == "" && window.max_id === "")
                            $("#no_content").removeClass("hide");
                        window.max_id = data.max_id;
                })
                .fail(function() {
                    $('#loader').addClass("hide");
                })
            }
            $('#select_notification_type').on('change',function (e) {
                window.max_id = "";
                window.type = this.value;
                $("#content").html("");
                loadMore();
            })

        });
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('custom/style.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}